.container {
	position: relative;
	background: #f5f5f5;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 70px;
}

.container > h1 {
	font-weight: 500;
	width: 70%;
	text-align: center;
}

.container > p {
	font-size: 1.2rem;
	margin: 5px 0;
	width: 70%;
	text-align: center;
}

.socials {
	height: 400px;
	justify-content: center;
}

.form {
	display: flex;
	flex-direction: column;
	width: 75%;
}

.form label {
	margin-bottom: 5px;
	color: #9e981c;
	font-weight: 500;
}

.form button {
	background-color: #9e981c;
	width: max-content;
	margin: 0 auto;
	padding: 15px 60px;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.form input,
.form textarea {
	font-family: "Raleway", sans-serif;
	width: 100%;
	font-size: 1rem;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	outline: none;
}

.form input:focus,
.form textarea:focus {
	border-color: #9e981c;
}

.mailModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #9e981c70;
}

.modalContent {
	position: relative;
	min-width: 200px;
	min-height: 200px;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
	background-color: #fff;
	border-radius: 10px;
}

.modalContent p {
	font-weight: bold;
}

.success,
.error {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

@media only screen and (max-width: 800px) {
	.socials {
		justify-content: space-between;
		height: 100vh;
	}

	.form,
	.container > p,
	.container > h1 {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	.container {
		padding: 30px 10px;
	}

	.container > p {
		font-size: 1rem;
	}
}
