@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
	font-family: "Raleway", sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.layout {
	height: 100vh;
	overflow: hidden;
}

.footer {
	height: 100px;
}

.main {
	height: calc(100vh - 100px);
	display: flex;
}

.sidenav {
	display: flex;
	flex-direction: column;
	padding: 4% 3%;
	width: 30%;
	overflow-y: auto;
	z-index: 7;
}

.content {
	width: 70%;
	overflow-y: auto;
}

@media only screen and (max-width: 900px) {
	.sidenav {
		width: 35%;
	}

	.content {
		width: 65%;
	}
}

@media only screen and (max-width: 800px) {
	#__next {
		display: flex;
		justify-content: flex-end;
	}

	.layout {
		overflow: initial;
		width: calc(100% - 70px); /* based on the width of socials*/
	}

	.main {
		height: initial;
		overflow-x: hidden;
	}

	.sidenav {
		position: fixed;
		width: 100%;
		height: 100%;
		max-width: 300px;
		background-color: rgba(255, 255, 255, 0.95);
		transition: left 0.3s ease;
	}

	.showNav {
		left: 0;
	}

	.hideNav {
		left: -100%;
	}

	.content {
		width: 100%;
	}

	.footer {
		height: initial;
	}
}

@media only screen and (max-width: 500px) {
	.layout {
		width: calc(100% - 50px); /* based on the width of socials*/
	}
}
